\documentclass[a6paper,11pt]{extbook}
\usepackage[outer=1cm,bottom=1.4cm,footskip=0.75cm,top=2cm,headsep=1cm]{geometry}
%\lefthyphenmin=2
%\righthyphenmin=2
%\renewcommand{\lefthyphenmin}{3}
%\renewcommand{\righthyphenmin}{3}
%\setcounter{lefthyphenmin}{2}
\sloppy
\widowpenalty=5000

\input{../../main}
